<!-- <dark design -->
<!-- <footer class="footer">
    <p>Questions? Call 1-844-505-2993</p>
    <div class="footer-cols"    [ngStyle]="{'color': backgroundColor === 'black' ? 'white' : 'black'}" >
      <ul  [ngStyle]="{'color': backgroundColor === 'black' ? 'white' : 'black'}">
        <li ><a  [ngStyle]="{'color': backgroundColor === 'black' ? 'white' : 'black'}" href="#">FAQ</a></li>
        <li><a [ngStyle]="{'color': backgroundColor === 'black' ? 'white' : 'black'}" href="#">Investor Relations</a></li>
        <li><a  [ngStyle]="{'color': backgroundColor === 'black' ? 'white' : 'black'}" href="#">Ways To Watch</a></li>
        <li><a  [ngStyle]="{'color': backgroundColor === 'black' ? 'white' : 'black'}" href="#">Corporate Information</a></li>
        <li><a  [ngStyle]="{'color': backgroundColor === 'black' ? 'white' : 'black'}" href="#">Netflix Originals</a></li>
      </ul>
      <ul>
        <li><a  [ngStyle]="{'color': backgroundColor === 'black' ? 'white' : 'black'}" href="#">Help Center</a></li>
        <li><a  [ngStyle]="{'color': backgroundColor === 'black' ? 'white' : 'black'}" href="#">Jobs</a></li>
        <li><a  [ngStyle]="{'color': backgroundColor === 'black' ? 'white' : 'black'}" href="#">Terms Of Use</a></li>
        <li><a  [ngStyle]="{'color': backgroundColor === 'black' ? 'white' : 'black'}" href="#">Contact Us</a></li>
      </ul>
      <ul>
        <li><a  [ngStyle]="{'color': backgroundColor === 'black' ? 'white' : 'black'}" href="#">Account</a></li>
        <li><a  [ngStyle]="{'color': backgroundColor === 'black' ? 'white' : 'black'}" href="#">Redeem Gift Cards</a></li>
        <li><a  [ngStyle]="{'color': backgroundColor === 'black' ? 'white' : 'black'}" href="#">Privacy</a></li>
        <li><a  [ngStyle]="{'color': backgroundColor === 'black' ? 'white' : 'black'}" href="#">Speed Test</a></li>
      </ul>
      <ul>
        <li><a  [ngStyle]="{'color': backgroundColor === 'black' ? 'white' : 'black'}" href="#">Media Center</a></li>
        <li><a  [ngStyle]="{'color': backgroundColor === 'black' ? 'white' : 'black'}" href="#">Buy Gift Cards</a></li>
        <li><a  [ngStyle]="{'color': backgroundColor === 'black' ? 'white' : 'black'}" href="#">Cookie Preferences</a></li>
        <li><a  [ngStyle]="{'color': backgroundColor === 'black' ? 'white' : 'black'}" href="#">Legal Notices</a></li>
      </ul>
    </div>
    <p class="center"  [ngStyle]="{'color': backgroundColor === 'black' ? 'white' : 'black'}" >© 2024 Tushant Man Singh. All right reserved.</p>
    <p class="center"  [ngStyle]="{'color': backgroundColor === 'black' ? 'white' : 'black'}" >© 2024 ShowZone. All images right reserved</p>
  </footer> -->

<!-- localization -->
<hr [ngStyle]="{'color': backgroundColor === 'black' ? 'white' : 'black'}">
<footer class="footer" [dir]="('direction.dir' | translate)">
  <p>{{ 'footer.Questions' | translate }}</p>
  <div class="footer-cols">
    <ul>
      <li><a href="#">{{ 'footer.FAQ' | translate }}</a></li>
      <li><a href="#">{{ 'footer.InvestorRelations' | translate }}</a></li>
      <li><a href="#">{{ 'footer.WaysToWatch' | translate }}</a></li>
      <li><a href="#">{{ 'footer.CorporateInformation' | translate }}</a></li>
      <li><a href="#">{{ 'footer.NetflixOriginals' | translate }}</a></li>
    </ul>
    <ul>
      <li><a href="#">{{ 'footer.HelpCenter' | translate }}</a></li>
      <li><a href="#">{{ 'footer.Jobs' | translate }}</a></li>
      <li><a href="#">{{ 'footer.TermsOfUse' | translate }}</a></li>
      <li><a href="#">{{ 'footer.ContactUs' | translate }}</a></li>
    </ul>
    <ul>
      <li><a href="#">{{ 'footer.Account' | translate }}</a></li>
      <li><a href="#">{{ 'footer.RedeemGiftCards' | translate }}</a></li>
      <li><a href="#">{{ 'footer.Privacy' | translate }}</a></li>
      <li><a href="#">{{ 'footer.SpeedTest' | translate }}</a></li>
    </ul>
    <ul>
      <li><a href="#">{{ 'footer.MediaCenter' | translate }}</a></li>
      <li><a href="#">{{ 'footer.BuyGiftCards' | translate }}</a></li>
      <li><a href="#">{{ 'footer.CookiePreferences' | translate }}</a></li>
      <li><a href="#">{{ 'footer.LegalNotices' | translate }}</a></li>
    </ul>
  </div>
  <p class="center">{{ 'footer.AllRightsReserved1' | translate }}</p>
  <p class="center">{{ 'footer.AllRightsReserved2' | translate }}</p>
</footer>

  
  <!-- <footer class="footer">
    <p>Questions? Call 1-844-505-2993</p>
    <div class="footer-cols">
      <ul>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Investor Relations</a></li>
        <li><a href="#">Ways To Watch</a></li>
        <li><a href="#">Corporate Information</a></li>
        <li><a href="#">Netflix Originals</a></li>
      </ul>
      <ul>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Terms Of Use</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      <ul>
        <li><a href="#">Account</a></li>
        <li><a href="#">Redeem Gift Cards</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Speed Test</a></li>
      </ul>
      <ul>
        <li><a href="#">Media Center</a></li>
        <li><a href="#">Buy Gift Cards</a></li>
        <li><a href="#">Cookie Preferences</a></li>
        <li><a href="#">Legal Notices</a></li>
      </ul>
    </div>
    <p class="center">© 2021 Tushant Man Singh. All right reserved.</p>
    <p class="center">© 2021 Netflix. All images right reserved</p>
  </footer> -->