
    <app-navbar></app-navbar>
<!--search-->
    <div class="containertop">
        
        <h2>Find Movies TV Show and More</h2>
        <h3 
            class="watch" 
            [ngStyle]="{'color': backgroundColor === 'black' ? 'white' : 'black'}" 
            style="transform: translateY(-100%);">
            Watch Now
        </h3>
        <div class="search-container">
            <input type="text" (keyup.enter)="searchMovies()" [(ngModel)]="searchQuery" placeholder="Enter movie name">
            <button class="search" (click)="searchMovies()">
                <i  style="font-size: large;"  class="fa-solid fa-arrow-right"></i>
            </button>
     </div>
      <!--most Tpr Rated-->
        <div *ngIf="searchQuery.length == 0">          
            <!--most Tpr Rated-->
            <div class="container py-3">
                <div class="title h1 text-center"   [ngStyle]="{'color': backgroundColor === 'black' ? 'white' : 'black'}" >You can watch Top Rated Movies</div>
               
                <div class="card" *ngFor="let movie of trinding">
                  <div class="row ">
                      <div class="col-md-7 px-3" >
                          <div class="card-block px-6">
                            <h4 class="card-title" style="color: #e62143;">{{ movie.title }}</h4>
                            <p class="card-text">
                              {{ movie.overview }}
                            </p>
                            <a class="mt-auto btn ratingbtn ">Rating: {{movie.vote_average}}</a>
                          </div>
                      </div>   
                    <div class="col-md-5">
                        <div id="CarouselTest" class="carousel slide" data-ride="carousel">                       
                          <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img routerLink="/details/{{ movie.id }}" [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}">
              
                              </div>                            
                          </div>
                        </div>
                    </div>          
                  </div>
                </div>           
              </div>   
        </div>
    </div>
<!-- data result -->
    <div class="container-fluid mt-2" *ngIf="searchQuery.length != 0">
          <div class="row">
            <div class="col-md-3 col-sm-6 mb-10 " *ngFor="let movie of pagedResultdata">
                <div class="card card-block">                  
                    <img routerLink="/details/{{ movie.id }}" src=".." [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="Photo of sunset">
                    <h4 class="card-title text-right"><i class="material-icons" >{{ movie.title }}</i></h4> 
                    <h5 class="card-title mt-3 mb-3" style="color: white;" [class.expanded]="movie.isExpanded" (click)="toggleExpand(movie)">{{ movie.overview }}</h5>
                    <p class="card-text">Rating: {{movie.vote_average}} </p> 
                </div>               
             </div>          
         </div>
    </div>
  <!--pagination-->  
  <div class=" pagination"  *ngIf="searchQuery.length != 0">
    <button class="switch" style="width: 90px;" *ngIf="currentPage > 1" (click)="previousPage()">Previous</button>
        <ng-container *ngFor="let page of totalPagesArray">
            <button class="switch"  [class.active]="page === currentPage" (click)="goToPage(page)">{{ page }}</button>
        </ng-container>
    <button class="switch"  *ngIf="currentPage < totalPages "  (click)="nextPage()">Next</button>
  </div>
  <app-footer></app-footer>
