<div class="container">
    <h2>Find Movies TV Show and More</h2>
    <div class="search-container">
        <input type="text" (keyup.enter)="searchMovies()" [(ngModel)]="searchQuery" placeholder="Enter movie name">
        <button (click)="searchMovies()">Search</button>
    </div>
    <div *ngIf="searchQuery.length == 0">
        <h1> what you need</h1>
    </div>
</div>


    <div *ngIf="resultdata.length > 0">
       
          <div class="row row-cols-1 row-cols-md-4  g-4 m-0 ">
             <div class="col" *ngFor="let movie of pagedResultdata" style="width: 25%;">
                <div class="card " >
                    
                          <img src="..." class="card-img-top" style="min-width:100%;" [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}">               
                        
                    <div class="card-body">
                            <h3  class="card-title">{{ movie.title }} </h3>
                            <p class="card-text"  [class.expanded]="movie.isExpanded" (click)="toggleExpand(movie)">{{ movie.overview }}</p>
                            <p >{{movie.vote_average}}</p>  
                        </div>
                       
                </div>
              </div>
           </div>

       <div class="container pagination">
            <button class="switch" style="width: 90px;" *ngIf="currentPage > 1" (click)="previousPage()">Previous</button>
                <ng-container *ngFor="let page of totalPagesArray">
                    <button class="switch"  [class.active]="page === currentPage" (click)="goToPage(page)">{{ page }}</button>
                </ng-container>
            <button class="switch"  *ngIf="currentPage < totalPages "  (click)="nextPage()">Next</button>
        </div>

    </div>
   