
* {
    margin: 0px;
    padding: 0px;
    font-size: 25px;
  }
  /* ----------------slider--*/
  .contains 
  {
    background: linear-gradient(rgba(15, 23, 43, 0.95), rgba(15, 23, 43, 0.3));
    font-family: "Edu TAS Beginner", cursive;
  }

  .titled {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    box-orient: vertical;
    transition: -webkit-line-clamp 0.5s;
    transition: line-clamp 0.5s;
    cursor: pointer;
  }

  .expanded 
  {
    -webkit-line-clamp: unset !important;
    max-height: none;
  }

  .carousel-inner
 {
    position: relative;
    overflow: hidden;
  }

  .carousel-item 
  {
    position: absolute;
    width: 100%;
    transition: opacity 0.0s ease-in-out;
    opacity: 1;
  }

  .carousel-item.active 
  {
    position: relative;
    opacity: 1;
    transition: opacity 0.0s ease-in-out;
  }

  @media (max-width: 768px) {
    .carousel-inner {
      height: 700px;
      font-size: 5px;
    }

    .carousel-inner .carousel-item img {
      height: 700px;
      font-size: 5px;
    }
  }

  @media (max-width: 576px) {
    .carousel-inner {
      height: 700px;
      font-size: 5px;
    }

    .carousel-inner .carousel-item img {
      height: 700px;
      font-size: 5px;
    }
  }
 /* -------------tranding */
 .imagecontainer {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}

.image-wrapper {
  position: relative;
  margin-right: 9px; /* Space between images */
}

.allimage {
  height: 350px;
  width: auto; /* Maintain aspect ratio */
  object-fit: contain;
  transition: transform 100ms;
  box-sizing: content-box;
}

.allimage:hover {
  transform: scale(1.08);
}

.imagecontainer::-webkit-scrollbar {
  display: none;
}

.pp h2::after {
  content: '';
  position: relative;
  display: block;
  width: 40px;
  height: 3px;
  background: #e03a3c;
  bottom: 0;
  left: calc(48% - 25px);
  margin: 20px;
}

.pp .social {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  z-index: 1;
  background: rgba(34, 34, 35, 0.9);
  color: white;
  border-radius: 8px;
  width: 100%;
  max-width: 400px; 
  padding: 20px;
}
.pp .social button
{
  margin: 5px;
  border: 1px solid red;
  padding: 5px;
  background: rgba(34, 34, 35, 0.9);
  color: aliceblue;
}
.image-wrapper:hover .social {
  opacity: 1;
  display: block;
}

.image-wrapper:hover .allimage {
  z-index: 0;
}

 
/*arrow*/
.uparrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.uparrow a {
  display: block;
  width: 40px;
  height: 40px;
  background-color: red; 
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.uparrow a:hover {
  background-color: red;
}
