.navbar 
{
    background-color: black;
  
}
.navbar .navbar-brand
{
    color:#E50914;
    font-size: bold;
}

.navbar .nav-item .nav-link
{
    color:#ffffff;
    font-size:medium;
}
.navbar .nav-item .nav-link:hover
{
    color:#E50914;
    font-size: 18px;
  
}
