
<nav class="navbar navbar-expand-lg navbar-light fixed-top">   <!-- bg-dark -->
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">ShowZone</a>
      <button style="background-color: white;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"  style="color: white;"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <button class="btn btn-light" (click)="Background()">
                    <i class="fa" [ngClass]="backgroundService.getDarkMode() ? 'fa-moon' : 'fa-sun'"></i>
                  </button>
              </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/search">Search</a>
          </li>
         
          <li class="nav-item" >
            <a class="nav-link"  style="cursor: pointer;"  >Welcom: <span style="color: red;">{{name}}</span> </a> 
          </li> 
          <li class="pic">
            <img [src]="pic">
          </li>
          <li class="nav-item">
            <a class="nav-link"  style="cursor: pointer;"  (click)="signoutt()"> | LogOut</a> 
          </li>
        </ul>
        
      </div>
    </div>
  </nav>